In [25]:

import camelot
import pandas as pd

In [16]:
df = camelot.read_pdf('sample.pdf', pages = 'all')

In [17]:
table=df[0]

In [18]:
table.df

                                              0           1
0  Number of Coils         Number of Paperclips
1                                             5     3, 5, 4
2                                            10     7, 8, 6
3                                            15  11, 10, 12
4                                            20  15, 13, 14

In [30]:
df.export('foo1.csv', f='csv')

In [28]:
table.parsing_report

{'accuracy': 96.09, 'whitespace': 10.0, 'order': 1, 'page': 1}

In [31]:
ls

foo1-page-1-table-1.csv  foo1-page-2-table-2.csv  sample.pdf
foo1-page-2-table-1.csv  foo.zip                  Untitled.ipynb

In [40]:
pd.read_csv("foo1-page-1-table-1.csv",names=['Number of Coils','Number of Paperclips'],skiprows=1)

   Number of Coils Number of Paperclips
0                5              3, 5, 4
1               10              7, 8, 6
2               15           11, 10, 12
3               20           15, 13, 14

In [ ]:
pd.read_csv('foo1')