In [4]:
# Same example data as in the previous example.
import numpy as np
import pandas as pd
np.random.seed(0)
df = pd.DataFrame({'Age': np.random.randint(20, 70, 100), 
                   'Sex': np.random.choice(['Male','Female'], 100), 
                   'number_of_foo': np.random.randint(1, 20, 100)})

df.head()

   Age     Sex  number_of_foo
0   64  Female             14
1   67  Female             14
2   20  Female             12
3   23    Male             17
4   23  Female             15

In [13]:
# Export to Male.csv and Female.csv files.
# for sex, data in df.groupby('Sex'):
#     data.to_csv("{}.csv".format(sex))

for sex,data in df.groupby("Sex"):
    data.to_csv("{}.csv".format(sex))