In [3]:
# Tuples are immutable it cant be changed
tup1 = ('Prakash','ay','Ni')
tup2 = (1,2,3,4,5,6)
tup3 = ("a",'p',"n")

type(tup1)

tuple

In [9]:
# Accessing values 
# Same as list
tup1[0]
tup1[:-1]

('Prakash', 'ay')

In [17]:
# Updating values :


tup3 = tup1 + tup2
tup3


# Delete tuple 
del tup3
_ # For representating prev instance

for i in _ :
    print(i)

Prakash
ay
Ni
1
2
3
4
5
6

In [39]:
# Basic Tuple operation:
len(tup2)
# Concatination
(1,4,5) + (2,4,4)
# Repitation 
("Prakash") * 4 
# Membership opearation 
'Prakash' in tup1
# Iteration 
x1=(x for x in range(4) if x%2 == 0)
tuple(x1)

(0, 2)

In [34]:
'ay' in tup1
if True:
    print(tup1.index('ay'))

1

In [ ]:
# Wrap up in Function:
def tuple_operation(t)